[submodule "bin/bootique"]
	path = bin/bootique
	url = https://github.com/BanchouBoo/bootique.git
[submodule "etc/zsh/plugins/fzf-tab"]
	path = etc/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "etc/zsh/plugins/zsh-autosuggestions"]
	path = etc/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "etc/zsh/plugins/zsh-vim-mode"]
	path = etc/zsh/plugins/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode.git
[submodule "etc/kak/plugins/plug.kak"]
	path = etc/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule "etc/trackma/anime-relations"]
	path = etc/trackma/anime-relations
	url = https://github.com/erengy/anime-relations.git
[submodule "etc/zsh/plugins/fast-syntax-highlighting"]
	path = etc/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
