function () {
    local ALPHA=0.1

    local HEXCOLOR=$(echo "<color2>")
    local HEXRED=$(echo $HEXCOLOR | cut -c 1-2)
    local HEXGREEN=$(echo $HEXCOLOR | cut -c 3-4)
    local HEXBLUE=$(echo $HEXCOLOR | cut -c 5-6)

    hextopercent() {
        qalc -t "hex($1) / 255"
    }

    local RED=$(hextopercent $HEXRED)
    local GREEN=$(hextopercent $HEXGREEN)
    local BLUE=$(hextopercent $HEXBLUE)
    export SLOPCOLOR="$RED,$GREEN,$BLUE,$ALPHA"
}
